.panel.panel-primary
    .panel-heading.text-center Main Section 2
    .panel-body
        .row(ng-repeat="topic in topics | orderBy:'published':true | limitTo:10" )
            .col-md-3 {{topic.published | date:'MMM d'}}
            .col-md-9 {{topic.name}}